<!doctype html>
<html>
<head>
<link href="/images/doctor2.css" rel="stylesheet" type="text/css" />
<link href="/images/project5style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">FindaDoc</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
            <li><a href="/browse">Browse Doctors</a></li>
            <li><a href="/adddoctors">Add Doctors</a></li>
            <li><a href="/addcategory">Add Category</a></li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<br><br><br>
<h3 class="chead">Categories</h3>
<br>
<% for(var j=0;j<categories.length;j++){ %>
	<span><a href="/doctors/<%= categories[j].category  %>"><span class='li1'><%= categories[j].category %></span></a></span>
<% } %>
<h1 class="head">FindaDoc</h1>
<h3 class="head">Search for local doctors</h3>

<h2 class="browse">Browse Doctors</h2>  
<% if(doctors.length>0) { %>      
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Speciality</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Details</th>
      </tr>
    </thead>
       <% for(var i=0;i<doctors.length;i++){ %>
    <tbody>
      <tr>
        <td><%= doctors[i].name %></td>
        <td><%= doctors[i].category %></td>
        <td><%= doctors[i].city %></td>
        <td><%= doctors[i].state %></td>
        <td><%= doctors[i].zipcode %></td>
        <td><a href='/details/<%= doctors[i].id %>'>Details</a></td>
      </tr>
    </tbody>
        <% } %>
  </table>
<% }  else { %> 
	<p class="errormsg" >No doctors available for this place. </p>
<% } %>
</body>
</html>